<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EPF | Jogos</title>

	<!-- Bootstrap reboot (для сброса стилей) -->
	<link rel="stylesheet" href="/libs/boots-rebo.css">

	<!-- Bootstrap сетка -->
	<link rel="stylesheet" href="/libs/boots-grid.css">

	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

	<!-- Стили сайта -->
	<link rel="stylesheet" href="/css/styles-menu.css">
</head>
<body>

	<nav class="navbar">
		<div class="container">
			<a href="/index.html" class="navbar-brand">EPF | Cantina</a>

		    <div class="navbar-wrap">
			    <ul class="navbar-menu">
                    <li><a href="/views/sobre-nos.html">Sobre nós</a></li>
				    <li><a href="/views/cardapio.html">Cardápio</a></li>
				    <li><a href="/views/jogos.html">Jogos</a></li>
				    <li><a href="/views/contactos.html">Contactos</a></li>
			    </ul>
                <a href="#" class="callback">Apoiar</a>
            </div>	
	    </div>
</nav>
<div class="backgraund"></div>
</body>
</html>