<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EPF | Sobre nós</title>

	<!-- Bootstrap reboot (для сброса стилей) -->
	<link rel="stylesheet" href="/libs/boots-rebo.css">

	<!-- Bootstrap сетка -->
	<link rel="stylesheet" href="/libs/boots-grid.css">

	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

	<!-- Стили сайта -->
	<link rel="stylesheet" href="/css/styles-menu.css">
</head>
<body>
	<nav class="navbar">
		<div class="container">
			<a href="/index.html" class="navbar-brand">EPF | Cantina</a>

		    <div class="navbar-wrap">
			    <ul class="navbar-menu">
                    <li><a href="/views/sobre-nos.html">Sobre nós</a></li>
				    <li><a href="/views/cardapio.html">Cardápio</a></li>
				    <li><a href="/views/jogos.html">Jogos</a></li>
				    <li><a href="/views/contactos.html">Contactos</a></li>
			    </ul>
                <a href="#" class="callback">Apoiar</a>
            </div>	
	    </div>
	</nav>
			<header class="header">
				<div class="container">
					<div class="row">

						<div class="col-lg-6 offset-lg-3 header-content">
							<h1>Contribuímos para o progresso da Região!</h1>
                            <img alt="Software Members" class="img-esc" 
                            src="/image/616.jpeg" style="animation-play-state: paused;">
							<p>A Escola Profissional do Fundão foi criada em 1992, 
                                por Contrato Programa celebrado a 29 de Julho, entre a 
                                Câmara Municipal e a Associação Comercial e Industrial 
                                do Fundão, com o Ministério da Educação. No seu primeiro
                                 ano de funcionamento, 1992/93, a Escola ministrou um único curso, 
                                 o Curso Técnico de Serviços Comerciais, no qual se inscreveram 48 
                                 alunos, que constituíram 2 turmas.</p>
							<p>No ano letivo 1993/94 foi criado o Curso Técnico de Construção Civil 
                                e a Escola teve 5 turmas, sendo uma delas de um CET (Curso de Especialização 
                                Tecnológica em Gestão de Stocks). Em 1995/96 entrou em funcionamento o Curso 
                                de Hotelaria/Restauração, que já havia sido criado no ano anterior, e a Escola 
                                atinge as 7 turmas. Em 1996/97 foi criado o Curso de Operador de Construção Civil, 
                                curso de nível II de qualificação profissional, e a Escola atinge as 9 turmas. 
                                Em 1999/00 foi criado o Curso Técnico de Mecânica/Gás, e a Escola atinge as 11 
                                turmas.</p>
							<p>Funcionando nas antigas instalações da Rua Cidade da Covilhã até Julho de 2005, 
                                a Escola não tinha de facto as melhores instalações e não pôde passar das 12 
                                turmas, meta que atingiu e manteve à custa de muito esforço. A partir do ano 
                                lectivo 2005/06, ano em que iniciou a utilização das novas instalações da Rua 
                                Cidade de Salamanca, a Escola começou por cumprir obrigações de apoio à instalação 
                                de cursos de outras instituições, nomeadamente a instalação dos Cursos Superiores 
                                de Gestão Hoteleira e Gestão Turística, tendo ainda iniciado parcerias de colaboração 
                                com os Agrupamentos de Escolas que procuraram realizar connosco Cursos de Educação 
                                Formação em diferentes áreas e especialmente na área da hotelaria. Atualmente, a Escola 
                                está a oferecer formação nos Cursos Profissionais de nível IV e nos Cursos de Educação 
                                Formação de nível II dedicando-nos assim à oferta de formações reconhecidamente 
                                essenciais à sustentação das atividades económicas da região.</p>
							<p>A Escola Profissional do Fundão está aqui para dar 
                                o seu contributo para o progresso da Região!</p>
						</div>

					</div>
				</div>
			</header>

    </body>
</html>