<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EPF | Sobre nós</title>

	<!-- Bootstrap reboot (для сброса стилей) -->
	<link rel="stylesheet" href="/libs/boots-rebo.css">

	<!-- Bootstrap сетка -->
	<link rel="stylesheet" href="/libs/boots-grid.css">

	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

	<!-- Стили сайта -->
	<link rel="stylesheet" href="/css/styles-menu.css">
</head>
<body>
	<nav class="navbar">
		<div class="container">
			<a href="/index.html" class="navbar-brand">EPF | Cantina</a>

		    <div class="navbar-wrap">
			    <ul class="navbar-menu">
                    <li><a href="/views/sobre-nos.html">Sobre nós</a></li>
				    <li><a href="/views/cardapio.html">Cardápio</a></li>
				    <li><a href="/views/jogos.html">Jogos</a></li>
				    <li><a href="/views/contactos.html">Contactos</a></li>
			    </ul>
                <a href="#" class="callback">Apoiar</a>
            </div>	
	    </div>
	</nav>
			<header class="header">
				<div class="container">
					<div class="row">

						<div class="col-lg-6 offset-lg-3 header-content">
							
							<h1>Sobre nós</h1>
							<img alt="Software - Sample 1 for three columns" 
							class="sb-logo" src="/image/614.jpeg" width="900">
							<p>A Escola Profissional do Fundão foi criada em 1992, 
								por Contrato Programa celebrado a 29 de Julho, 
								entre a Câmara Municipal e a Associação Comercial e 
								Industrial do Fundão, com o Ministério da Educação. 
								No seu primeiro ano de funcionamento, 1992/93, a 
								Escola ministrou um único curso, o Curso Técnico de 
								Serviços Comerciais, no qual se inscreveram 48 alunos, 
								que constituíram 2 turmas.

								No ano letivo 1993/94 foi criado o 
								Curso Técnico de Construção Civil e a Escola teve 5 
								turmas, sendo uma delas de um CET (Curso de Especialização 
								Tecnológica em Gestão de Stocks). Em 1995/96 entrou em 
								funcionamento o Curso de Hotelaria/Restauração, que já havia 
								sido criado no ano anterior, e a Escola atinge as 7 turmas. 
								Em 1996/97 foi criado o Curso de Operador de Construção Civil, 
								curso de nível II de qualificação profissional, e a Escola 
								atinge as 9 turmas. Em 1999/00 foi criado o Curso Técnico de 
								Mecânica/Gás, e a Escola atinge as 11 turmas.</p>
								<a class="btn-main" href="/views/sobrenos.html">LER MAIS</a>

							<h2>Porquê EPF?</h2>
							<p>Experiência de vinte e cinco anos de
								 formação com elevados índices de empregabilidade</p>
							<h3>Promovemos o jovem. Incrementamos competência. Geramos valor.</h3>
							<p>Educamos e qualificamos cidadãos proporcionando-lhes 
								formação com exigência e inovação que lhes permita um bom 
								desempenho profissional e simultaneamente responda às exigências 
								do mercado laboral regional valorizando as atitudes pessoais e 
								profissionais.</p>
							<h3>Excelente relacionamento
								 entre professores e alunos, estágios e parcerias internacionais.</h3>
							<p>A EPF considera que o sucesso da sua missão assenta, 
								em primeira instância, nos recursos humanos, nomeada-mente, 
								professores e funcionários. Desde o início da atividade a EPF 
								promoveu uma política de contratação de colaboradores a contrato 
								sem termo por forma a potencializar a estabilidade dos docentes e 
								a fomentar a qualidade da formação ministrada.</p>
						</div>

					</div>
				</div>
				<div class="overlay"></div>
			</header>

    </body>
</html>